.image-container {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 1000px;
  width: 100%;
}


.image-carousel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300%;
  overflow: hidden;
}

.image-1-content {
  display: flex;
  height: 100%;
  background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_b-447230ef.jpg);
  width: 33.33333333%;
  align-items: center;
  flex-flow: column nowrap;
  padding: 144px 0 0;
  margin-bottom: 50px;
  text-shadow: 0 0 3px rgb(5 5 5 / 50%);
  box-shadow: inset 0 100px 30px -30px rgb(3 3 3 / 60%);

}


.image-1-title {
  text-shadow: 0 0 3px rgb(5 5 5 / 50%);
  color: white;
  font-weight: 12;
  margin-bottom: 8px;
  font-size: 30px;
}

.image-1-tagline {
  text-shadow: 0 0 3px rgb(5 5 5 / 50%);
  color: white;
  text-align: center;
  font-size: 16px;
  max-width: 525px;
}

.image-2 {
  display: flex;
  height: 100%;
  background-image: url(https://a-v2.sndcdn.com/assets/images/sc_landing_header_web_a-3bb2d420.jpg);
  width: 33.33333333%;
  align-items: center;
  flex-flow: column nowrap;
  padding: 144px 0 0;
  text-shadow: 0 0 3px rgb(5 5 5 / 50%);
  box-shadow: inset 0 100px 30px -30px rgb(3 3 3 / 60%);

}
