.comment-content {
  /* display: flex; */
  width: 100%;
  display: flex;
  justify-content: left;
 height: 400px;
 overflow-y: scroll;

}

.comment-body {
  /* overflow-y: scroll; */
  width: 100%;
  bottom: 30px;
  /* box-shadow: 3px 3px 3px 4px orange; */
  border-top: .5px solid rgba(242, 236, 236, 0.87);
  /* overflow-x: hidden; */
  padding: 10px;
  height: 100%;

}

.comment-textarea > textarea {
  width: 600px;
  height: 14px;
  font-size: 12px;
}

.comment-button-section {
  padding-top: 40px;
}

.comment-count {
  color: #999;
}

.comment-count > i{
  margin-right: 5px;
}
