.user-home-body {
  margin: 0 auto;
  width: 1180px;
  /* padding: 0 30px; */
  margin-top: 34px;
  min-height: 1000px;
  background-color: white;
  padding: 20px;
  height: 1400px;
  /* overflow-y: scroll; */
}
