

button {
  width: 100%;
  margin: 5px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;
}

.username-div {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.password-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
}
