.song-content {
width: 1180px;
  padding-top: 10px;
height: 100%;
}

.img-div > img {
  width: 340px;
  height: 100%;


}

.audio-and-image {
  padding: 0;
  margin: 0;
  height: 380px;
  /* backdrop-filter: blur(50px); */
}

.song-player {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  z-index: 10;
  /* position: absolute; */
  padding: 30px 20px 20px 30px;
}

.rhap_progress-section > * {
  padding-top: 90px;
}

.rhap_main {
  padding: 0;
  margin: -10px -15px;

  backdrop-filter: blur(30px);
}

.rhap_container {
  backdrop-filter: blur(50px);
  /* margin-left: -100px; */
}

.rhap_volume-controls {
  padding-right: 10px;
}
.rhap_controls-section svg {
color: white;
background-color: black;

}

.rhap_current-time {
  color: white;
  background-color: black;
  padding: 0;
  margin-top: 88px;
}
.rhap_time {
  padding: 0;
  margin-top: 88px;
  color: white;
  background-color: black;
}

.relative-positioning {
  position: relative;
}

.rhap_controls-section > * {
  padding-bottom: 25px;
}
.rhap_progress-section {
  padding: 10px;
}
.title-song-player {
  position: absolute;
  left: 20px;
  z-index: 1;
  width: auto;
  white-space: nowrap;
  /* width: auto; */
}


.title-song-player-rel {
  position: relative;
}

#title-p {
  background-color: black;
  color: white;
  padding: 2px;
  font-weight:lighter;
  font-size: 20px;
  margin-bottom: 2px;
}

#username-p {
  background-color: black;
  color: white;
font-size: 15px;
  font-weight:lighter;
  display: inline;
  padding: 2px;
}

.song-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
}
.song-buttons button {
  /* width: auto; */
  /* height: 20px; */
}
.comment-button-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100px;
  margin-bottom: 0;
}

.profile-dropdown {
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 100%; */
  /* background-color: white; */
  /* bottom: 1000px;
   */
   /* position: absolute; */
/* padding-right: 500px; */
/* margin-bottom: 500px; */

position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 50000;
}

.profile-dropdown > button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 5;
}

.dropdown-more {
  position: relative;
  display: inline-block;
}

.menu {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.background-modal {
  background-color: hsla(0,0%,94.9%,.9);
  opacity: 1;
  backdrop-filter: grayscale(1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 2;
  /* transition: opacity .2s linear; */
}

.song-buttons button {
  margin: 0;
  margin-top: 0;
  min-width: 31px;
  border: 1px solid #e5e5e5;
  text-align: center;
  vertical-align: center;
  height: 26px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 12px;
  bottom: -5px;
}

.song-buttons button > i {
  margin-left: -5px;
  margin-right: 4px;
}

.song-page-avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 20px;
}

.song-page-avatar p {
  margin-top: 5px;
  font-size: 12px;
  font-weight:lighter;
}
.song-page-avatar {
  position: absolute;
  top: -35px;
}

.comment-body-description {
  position: absolute;
  margin-top: -30px;
  padding-left: 150px;
  width: 100%;
  height: 100%;
}

.avatar-comment-description {
  position: relative;
  margin-top: 60px;
  width: 87.7%;
  height: 50%;
}



/* .profile-dropdown {
  position: absolute;
  width: 120px;
  left: 492px;
  top: 530px;
  z-index: 10;
} */

/* .profile-dropdown button {
  width: 100%;
  font-size: 10px;
} */
