.background-modal {
  background-color: hsla(0,0%,94.9%,.9);
  opacity: 1;
  backdrop-filter: grayscale(1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 1;
}

.modal {
  width: 450px;
  left: 735px;
  margin-top: 76px;
  height: auto;
  padding: 25px;
  border: 1px solid var(--background-highlight-color);
  border-radius: 0;
  margin: 76px 0 30px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.modal-content {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -25px;

}

.username-div {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.password-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
}
