/* TODO Add site wide styles */
#root {
  background-color: #f2f2f2;
  overflow-y: scroll;
  box-sizing: border-box;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
}

body, html {
  width: auto;
  margin: 0 auto;
  /* min-width: 1220px; */
height: auto;
}

button {
  background: transparent;
  color: rgb(64, 64, 64);
  /* border-color: #ccc; */
  padding: 2px 15px;
  height: 30px;
  line-height: 24px;
  margin: 0 0 0 6px;
  display: inline-block;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: center;
  transition: opacity .2s linear;
}
