header {
/* display: block; */
width: 100%;
background: #333;
/* transition: height .2s; */
position: fixed;
/* z-index: 100; */
margin: 0;
top: 0;
}

.nav-div {
  display: flex;
  justify-content: center;
  width: 1240px;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  justify-content: left;
}

ul {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: white;
}
