#profile-dropdown-nav {
  width: 135px;
  /* margin-right: 50px; */
  background-color: white;
  outline: none;
  position: absolute;
  min-height: auto;
  bottom: -40px;
  border: 1px solid gray;
display: block;
/* width: 40px; */
left: 18px;
padding: 0;
}

#profile-dropdown-nav button {
  margin: 0;
  padding: 0;
  width: 135px;
}

#profile-dropdown-nav li {
  display: list-item;
  text-align: center;
}

#profile-dropdown-nav li p {
  font-size: 10px;
  color: gray;
}

.dropdown-container {
  position: relative;
}

.menu {
  width:50px;
}

.avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* position: relative; */

}

.menu-button {
  display: flex;
  justify-content: left;
  align-items: top;
height: 30px;
color: white;
border: none;


}



.username {
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  padding-left: 2px;
}
